<% set_page_title "FOURTHSTRAVAGANZA HOUSE CUP STANDINGS" %>

<h1>FOURTHSTRAVAGANZA HOUSE CUP STANDINGS</h1>


<a class="nav" href="<%= url_for :action => :stream %>">Merits, demerits, House Cup, etc.</a>

<div id="houses">

  <% for house in @houses %>
    <div class="house">
      <img src="/images/<%= house.name.downcase %>.jpg" />
      <h2><%= house.score %></h2>
    </div>
  <% end %> 


</div>



<div style="clear:both; padding-top:70px;">&nbsp;</div>
