<% set_page_title "FOURTHSTRAVAGANZA HOUSE CUP STANDINGS" %>

<h1>FOURTHSTRAVAGANZA HOUSE CUP STANDINGS</h1>


<a href="<%= url_for :action => :index %>">standings</a>

<div id="houses">

  <% for house in @houses %>
    <div class="house">
      <img src="/images/<%= house.name.downcase %>.jpg" />
      <h2><%= house.score %></h2>
    </div>
  <% end %> 


</div>



<div style="clear:both; padding-top:70px;">&nbsp;</div>
