
#houses {
  width: 900px;
}


#houses .house {
  width: 400px;
  float:left;
  margin-right:50px;
}

#houses .house img {
  float:left;
}

#houses .house h2 {
  float:left;
  font-size: 90px;
}

a.nav {
    display: block;
    margin-bottom: 20px;
}


table.stream {
}

table.stream td {
  text-align: center;
  border-top: 1px solid black;
  margin: 0px;
  padding: 0px;

}

table.stream td.house_image {
  width: 50px;
}

table.stream td.because {
  width: 300px;
  text-align: left;
  font-style: italic;
}

table.stream td.points {
  padding: 0px 20px;
  font-size: 2em;
}

table.stream td.when {
  padding: 0px 20px;
}

