<form method="post" action="<%= url_for(:controller => :login, :action => :login_submit) %>">
  <input type="text" name="username" />
  <br />
  <input type="text" name="password" />
  <br />
  <input type="submit" />
</form>
